body{
	color: #2F4F4F;
}

#header-nav {
	background-color: #FFE4E1;
	text-shadow: 0.5px 0.5px 0.5px #222;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:1px solid #61122f;
}

.navbar-header button.navbar-toggle{
	clear:both;
	margin-top: -30px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}



/********** desktop only **********/
/********** tablet only **********/
/********** mobile only **********/